* { padding: 0; margin: 0;}

.btn{
	cursor:pointer;	
}

a:hover{
	cursor:pointer;
}
#faux {
 background: url(faux-2-3-col.gif);
 margin-bottom: 0px;
 overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
 width: 100%;
}

/*HEADER------------------------*/
.full_bar_style{				/* Defines how the top bar is shown*/
	width:100% !important; 
	min-height:58px;			/* Manually adjust the height of the bar to be as we want */
	background:#09ba32;			/* The green color */
	margin: 0px 0px 0px 0px;	/* No margins around the bar */
}

.navbar, .dropdown-menu{		/* When the submenu is shown we eliminate all borders inherited and reset the color if bootstrap changed it*/
	border: none;
	background:#09ba32;
}

.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;		/* Default text color of the links is white */
}
.dropdown-menu{
      -webkit-box-shadow: none;   /* Enable all shadows */
    box-shadow:none;              /* Enable all shadows */
}
.nav li{ /* Set a transparent border to later add color to it when some button is hover */
	border-bottom: transparent 4px solid;
}

.nav li:hover:nth-child(8n+1){	/* Depending of how many buttons (and the order) there are in the bar add some color to the border if hovered */
  border-bottom: #b6f423 4px solid;
}
.nav li:hover:nth-child(8n+2){
  border-bottom: #82e2ea 4px solid;
}
.nav li:hover:nth-child(8n+3){
  border-bottom: #f8b42c 4px solid;
}
.nav li:hover:nth-child(8n+4){
  border-bottom: #fd594a 4px solid;
}	
.nav li:hover:nth-child(8n+5){
  border-bottom: #e8479d 4px solid;
}
.nav li:hover:nth-child(8n+6){
  border-bottom: #a12eeb 4px solid;
}
.nav li:hover:nth-child(8n+7){
  border-bottom: #4785d9 4px solid;
}
.nav li:hover:nth-child(8n+8){
  border-bottom: #2aed9a 4px solid;
}

.navbar-toggle .icon-bar{ 
    color: #fff;
    background: #000000;
}

/*END_HEADER------------------------*/
/*LOGIN---------------------------*/
.colorgraph { /* Multicolor login bar */
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/*END_LOGIN-------------------------------*/
.container{
	margin-top: 48px;	
}

.center_container{
	height:100%;
}

#leftcolumn { 
 display: inline;
 color: #333;
 margin: 10px;
 padding: 0px;
 width: 195px;
 float: left;	
}
#content { 
	width:100%;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#rightcolumn { 
 display: inline;
 position: relative;
 color: #333;
 margin: 10px 10px 10px 0px;
 padding: 0px;
 width: 195px;
 float: right;
}

/*TWEET CARACTERISTICS-------------------*/
.tweet{
	border: 1px solid gray;
	border-radius: 5px;
	margin:10px;
	padding: 10px;
	
}

.tweet a{
	color: green;
}

.tweet a:hover{
	color: darkgreen;
}

.tweet:hover{
	background-color:#f5f8fa;
}

.flex-heading-container {
    display: -webkit-flex;
    display: flex;
    padding-bottom:10px;
}

.flex-image {
    height:64px;
    width:64px;
    margin-right:10px;
	vertical-align: middle;
	border:1px solid lightgray;
	border-radius:5px;
}

img:hover {
   -webkit-filter: saturate(3.3); 
   cursor:pointer;
}

.like-tweet:hover{
	background-color:#ddffce;
	border-radius:3px;
}

/*END TWEET CARACTERISTICS-------------------*/

.follow-button{
	color:white;
	text-align:center;
	position: absolute !important;
}

/* START USER PROFILE -------------------------*/
.statics-resume{
	padding:0px;
	margin:0px;
	width:100%;
	display:inline-block;	
} 

.resume-statics{
	float:left;
	width:33.3%;
	text-align:center;
}

.follow-user-card{
	right:7px !important;
	top:7px !important;
}

/* END USER PROFILE --------------------------- */




